#debug 
{ 
	position:fixed;
   	height:200px; 
	width:500px; 
	left:900px; 
	top:135px;
	opacity: 0.5;
}
#menu
{
	height: 100%;
	width: 260px;
}
.LCD
{
	width: 2em;
	height: 2em;
	font-weight: bold;
	font-size: 1em;
	text-align: center;
}
#progress
{
	margin: 10px;
	float: left;
}
.finished
{
	color: green;
}
#body
{
	margin-left: 270px;
}