#menu
{
  list-style-type:none;
  margin:0;
  padding:0;
  position:fixed;
}
#menu a:link, #menu a:visited
{
  display:block;
  font-weight:bold;
  color:#2779AA;
  background-color:#E3F1FA;
  width:260px;
  text-align:left;
  padding:4px;
  text-decoration:none;

  border-style: solid;
  border-color: white;
  border-width: 1px;
}

#footer
{
  border-top: 2px dotted grey;
  text-align: center;
  padding-top: 10px;
}

/*	white font	*/
#menu a:hover,#menu a:active, .button:hover, .button:active
{
  color: white;
}

/*	gradient dark background	*/
#menu a:hover, #menu a:active, .button:hover, .button:active
{
  background: #1e5799; /* Old browsers */
  background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C */
}

/*	all corners round	*/
#menu a, .button, .dialog, #header
{
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
.LCD
{
  width: 1.5em;
  height: 1.5em;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
}
#header
{
  text-align:center;
}
#header a:link, #header a:hover, #header a:visited
{
  display: block;
  width: 100%;
  height: 100%;
}
#progress
{
  margin-right: 10px;
  margin-left: 10px;
  height: 1.5em;
  width: 300px;
}
.finished
{
  color: green;
}
#body
{
  border-style: none none none solid;
  border-color: grey;
  border-width: 2px;
  margin-left: 270px;
  padding: 10px 50px 10px 10px;
}

.dialog
{
  display: inline-block;
  border: 1px solid #C0C0C0;
  padding: 5px;
  margin: 10px;
}

/* Modal dialog background */
#modal-background {
    display: none;
    position: fixed;
    z-index: 1; /* sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* black with opacity */
}
/* Modal content box */
.modal-content {
    background-color: #fefefe;
    position: fixed;
    top: 0;
    left: 25%;
    margin: 15% auto; /* 15% from top and centered */
    padding: 20px;
    border: 2px solid #d82727;
    width: 50%;
    z-index: 2; /* sit on top of the modal dialog background */
    display: none;
}
/* The modal dialogs close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.information
{
  background-color: gold;
  border: 1px solid #C0C0C0;
}

/* mainly for password.html */
#security-form input, #security-form label, #security-form .ui-icon
{
  float: left;
}
#security-form .ui-icon
{
  margin-left: 1em;
  cursor: help;
}
.input-error .error
{
  background-color: #F6E69F;
}
#dice-thrown
{
  background-color: lightYellow;
}
#newpassword
{
  margin: 10px 0px;
}

/*mainly for security.html */
.three-dice>td:nth-child(4)
{
  background-color:#E8FFD2;
}
.four-dice>td:nth-child(4)
{
  background-color:#D2FFA5;
}
.five-dice>td:nth-child(4)
{
  background-color:#A5FF4B;
}
.question {
    background-color: rgb(234, 244, 252);
    font-style: italic;
}

/* language specific stuff */
:lang(de)
{
  quotes:"\201E" "\201C" "\201A" "\2018";
}
:lang(en)
{
  quotes:"\201C" "\201D" "\2018" "\2019";
}

/* animations */
@keyframes highlight-frames {
    from {background-color: yellow;}
    to {background-color: none;}
}

.highlight {
    animation-name: highlight-frames;
    animation-duration: 4s;
}

