#debug 
{ 
	position:fixed;
   	height:200px; 
	width:500px; 
	left:900px; 
	top:135px;
	opacity: 0.5;
}
#menu
{
	height: 100%;
	width: 260px;
}
.LCD
{
	width: 2em;
	height: 2em;
	font-weight: bold;
	font-size: 1em;
	text-align: center;
}
#progress
{
	margin: 10px;
}
.finished
{
	color: green;
}
#body
{
	border-style: solid none none solid;
	border-color: grey;
	border-width: 2px;
	margin-left: 270px;
	padding: 10px;
}
.dialog
{
	display:none;
	backgroud-color: #F6E69F;
	border: 1px solid #C0C0C0;
}